STACK=k6
SAFE_TO_RUN=no
TARGET_ENV=local
BASE_URL=http://localhost:3000
TARGET_PATH=/
AUTH_HEADER=
AUTH_TOKEN=
VUS=1
DURATION=30s
ITERATIONS=10
RUN_SLUG=baseline-local
K6_SUMMARY_TREND_STATS=avg,min,med,max,p(90),p(95)
JMETER_BIN=jmeter
JMETER_TEST_PLAN_PATH=
JMETER_THREADS=1
JMETER_RAMP_UP_SECONDS=1
JMETER_DURATION_SECONDS=30
JMETER_GENERATE_EXECUTIVE_DASHBOARD=yes